<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>

    <title>RVA Week</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/rvaweek.css" rel="stylesheet" />


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDDPT2P');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107857970-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107857970-1');
    </script>
  </head>

  <body ng-app="rvaWeekApp" ng-controller="RVAWeekController as eventList">

      <nav class="navbar">
        <h2 class="nav-link" style="color: #31708f;">RVA Week</h2>
      </nav>
      <hr style="margin-top: 0rem;"/>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col rvaheader">
           <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true" ng-click="updateWeek(-7)">&lt;&lt;</a>
          </div>
          <div class="col-md-auto rvaheader btn-group">
              <button type="button" ng-repeat="dayCal in week track by $index" ng-click="updateEvents(dayCal)" ng-class="{active: dayCal.getTime()  == day.getTime()}" class="btn btn-secondary btn-sm">
                <div style="font-family: monospace;">{{dayCal | date:'EEE'}}</div>
                <div>{{dayCal | date:'d'}}</div>
              </button>
          </div>
          <div class="col rvaheader">
           <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true"  ng-click="updateWeek(7)">&gt;&gt;</a>
          </div>
        </div>
      </div>

    <div class="container" >

      <div class="alert alert-info" role="alert">
           <h1 style="text-align:center;width:100%">
             {{day | date:'EEEE MMM d'}}
           </h1>
      </div>

      <div class="media" ng-repeat="event in events" style="border: 1px solid; padding: 1em;">
        <img class="col-3" src="{{event.image}}" alt="Generic placeholder image"/>
        <div class="media-body">
          <h5 class="mt-0">{{event.name}}</h5>
          <h5 class="mt-0">{{event.secondaryName}}</h5>
          <div>{{event.location}}</div>
          <div><a href="{{event.url}}" target="_blank">More Information</a></div>
        </div>
      </div>

    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="js/rvaweek0.js"></script>

</html>
