<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>

    <title>RVA Week</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/rvaweek.css" rel="stylesheet" />

  </head>


  <body ng-app="rvaWeekApp" ng-controller="RVAWeekController as eventList">

      <nav class="navbar bg-inverse">
        <h2 class="nav-link disabled">RVA Week</h2>
      </nav>

      <nav class="navbar navbar-toggleable navbar-light bg-inverse" style="text-align:center;font-weight:bold;padding:0px;">
        <div class="col">
         <a href="#" class="btn btn-secondary btn" role="button" aria-pressed="true" ng-click="updateWeek(-7)">&lt;&lt;</a>
        </div>
        <a class="nav-item nav-link" href="#" ng-click="updateEvents(day)" ng-repeat="day in week track by $index">
          <div> {{day | date:'EEE'}}</div>
          <div>{{day | date:'d'}}</div>
        </a>
        <div class="col">
         <a href="#" class="btn btn-secondary btn" role="button" aria-pressed="true"  ng-click="updateWeek(7)">&gt;&gt;</a>
        </div>
      </nav>

<div class="container-fluid" >

       <h1 style="text-align:center;width:100%">
         {{day | date:'EEEE MMM d'}}
       </h1>

        <div class="">
          <div class="card" ng-repeat="event in events">
            <div class="card-block row">
              <div class="col-sm-2">
                <a href="{{event.url}}" target="_blank" class="card-link"><img width="100%" style="max-height:175px" src="{{event.image}}"/></a>
              </div>
              <div class="col-sm-10">
                <h3 class="card-title">{{event.name}}</h3>
                <h4 class="card-title">{{event.secondaryName}}</h4>
                <h6 class="card-subtitle text-muted">{{event.location}}</h6>
                <a href="{{event.url}}" target="_blank" class="card-link">More Information</a>
              </div>
            </div>
          </div>

        </div>

    </div>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="js/rvaweek0.js"></script>

</html>
